body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* NAVBAR */
.navbar{
  width: 100%;
  position: sticky; 
  background: #fff;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.navbar-inner{
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.logo span {
  text-transform: capitalize;
  color: rgb(174, 38, 106);
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(174, 38, 106, 0.35);
}

.menu-icon{
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.menu-icon:hover{
  color: hotpink;
}

.logo{
  margin-left: 25px;
}

.explore {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 9px 10px; 
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
  color: #444;
}

.explore:hover {
  background: rgb(240, 231, 236);
  color: hotpink;
}

.nav-search {
  flex: 1;
  max-width: 380px;
  min-width: 75px;
  position: relative;
}

.nav-search input {
  width: 100%;
  height: 44px;
  padding: 0 44px 0 16px;
  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.nav-search input:focus {
  outline: none;
  border-color: hotpink;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.nav-right{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 20px;
  padding: 0 20px;
}

.nav-links {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  padding: 9px 15px; 
  border-radius: 6px;
}

.nav-links:hover {
  background: rgb(240, 231, 236);
  color: hotpink;
}

.nav-right button {
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid hotpink;
}

.login-btn {
  color: rgb(215, 54, 134);
  background: #fff;

}

.signup-btn {
  background: rgb(228, 65, 147);
  color: #fff;
}

.world-icon {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width:1024px) {

  .logo{
    margin-left: 15px;
  }

  .nav-links.tech{
    display: none;
  }

  .cart-icon{
    font-size: 28px;
  }

   .nav-search {
    max-width: 200px;
  }
}

@media (max-width:768px) {

  .navbar-inner{
    display: flex;
    justify-content: space-between;
  }

  .menu-icon{
    display: block;
  }


  .nav-search{
    display: none;
  }

  .nav-links,.signup-btn,.login-btn,.world-icon,.explore{
    display: none;
}

  .search-icon{
    display: block;
  }

  .card-icon{
    display: flex;
    justify-content: flex-end;
  }
}