@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; 
  background: #f9f9f9; 
  color: #333;
}


/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.menu-icon{
  display: none;
}

.nav-left,.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}


.up-icon{
  position: absolute;
  top: -20px;
  left: -10px;
  padding: 2px;
  font-size: 35px;
  font-weight: bold;
  color: rgb(240, 5, 126);
}

.logo{
  font-size: 22px;
  font-weight: bold;
}

.explore{
  color: rgb(55, 55, 55);
  text-decoration: none;
}

.explore:hover{
  width: 60px;
  padding: 5px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: rgb(240, 231, 236);
  color: hotpink;
  /* transition: all 0.3s; */
}

.nav-search{
  display: flex;
  align-items: center;
  position: relative;
}


.nav-search input{
  width: 550px;
  padding: 15px 8px;
  border-radius: 25px;
  border: 2px solid #ccc;
  color: #b6b4b4;
}

.nav-search input:hover{
  background: rgb(243, 240, 243);
}


.nav-search input:focus {
  border-color: hotpink;
  outline: none;
  background: #f7f6f6;
}


.search-icon{
  position: absolute;
  right: 10px;
  color: #b6b4b4;
}

.nav-right{
  text-decoration: none;
}

.nav-links{
  text-decoration: none;
  color: #3b3a3a;
}

@media (max-width:768px) {
  .navbar{
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  .menu-icon{
    display: flex;
  }

  .logo{
    text-align: center;
    flex: 1;
  }

   .explore,.nav-search input{
    display: none; 
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-right .search-icon,
  .nav-right .cart-icon {
    display: flex;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-right .nav-links,
  .nav-right button,
  .nav-right .world-icon {
    display: none;
  }
}

/* Courses - Searchbar (NAVBAR) */
.courses-container{
  max-width: 1200px;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
}

.courses-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.course-card{
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}


.course-img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.course-title {
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: #222;
}

.course-description {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  margin: 8px 0 12px;
  line-height: 1.6; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}


/* .course-rating{
  width: 50px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 10px;
  color: #ccc;
  border: 1px solid #adabab;
  border-radius: 5px;
} */

.course-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 6px 0;
}

.course-rating span {
  font-size: 14px;
}

/* 
.course-rating span {
  font-size: 14px;
  color: #ccc;
} */

.course-rating span.filled {
  color: #f47302; 
}
.course-rating .rating-number {
  align-items: center;
  margin-left: 8px;
  font-size: 13px;
  color: #555;
}

.no-courses{
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 40px;
}