.footer{
    background: #1c1d1f;
    color: #fff;
    padding: 48px 64px;
}

.footer h3{
    margin-bottom: 50px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.footer-heading{
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}  

.arrow{
    display: none;
    transition: transform 0.3s ease;
}

.arrow.open{
    transform: rotate(180deg);
}

.footer-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li{
    font-size: 14px;
    color: #d1d7dc;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.footer-list li:hover{
    color: #fff;
    text-decoration: underline;
}


.footer-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    color: #d1d7dc;
    border-top: 2px solid #3e4143;
}

.footer-company{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (max-width:600px) {
    .footer{
        padding: 32px 14px;
    }

    .footer-grid{
        display: block;
    }

    .footer-section{
        border-top: 1px solid #3e4143;
    }

    .footer-heading{
        padding: 16px 0;
        cursor: pointer;
    }

    .footer-list{
        display: none;
        padding-bottom: 16px;
    }

    .arrow{
        display: block;
    }

    .footer-list.show{
        display: block;
    }

    .footer-bottom{
        padding: 0 10px;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
}