*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.signup-wrapper{
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-img{
    width: 450px;
    height: 450px;
}

.signup-card{
    width: 100%;
    max-width: 420px;
    padding: 32px;
    text-align: center;
}

.signup-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}

.signup-input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;
    border: 1px solid #1c1d1f;
    border-radius: 4px;
    font-size: 15px;
}

.signup-input:focus{
    outline: none;
    border-color: rgb(203, 85, 144);
}


.signup-checkbox{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;
}

.signup-checkbox input{
    margin-top: 4px;
}


.signup-button{
    width: 100%;
    background: rgb(203, 85, 144);
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 24px;
}

.signup-button:hover{
    background:  rgb(245, 128, 186);
}

.social-buttons{
    margin-bottom: 20px;
}


.divider{
    position: relative;
    margin: 24px 0;
    font-size: 14px;
    color:  #6a6f73;
}



.divider::before,
.divider::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background: #d1d7dc;
}

.divider::before{
    left: 0;
}

.divider::after {
  right: 0;
}

.social-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
}

.social-box{
    width: 43px;
    height: 43px;
    border: 1px solid rgb(203, 85, 144);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-box:hover{
    background: rgb(247, 246, 246);
}

.social-box img {
  width: 20px;
  height: 20px;
}

.terms{
    font-size: 12px;
    color: #6a6f73;
    margin-bottom: 16px;
}

.terms a{
    color: rgb(203, 85, 144);
    text-underline-offset: 4px;
    text-decoration-color: #8f969c;
}

.login-link{
    background: #f7f9fa;
    padding: 14px;
    font-size: 14px;
    margin-top: 40px;
}

.login-link a,.login-organization a{
    color: rgb(203, 85, 144);
    font-weight: 600;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #8f969c;
}



@media (max-width:768px) {
    .signup-wrapper{
        min-height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-img{
        display: none;
    }
}