
/* SKILLSECTION */
.skills-section{
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 24px;
  display: grid;
  grid-template-columns: 350px 2fr;
  gap: 48px;
  align-items: center;
}


.skills-text h2 {
  color: #3c3d3e;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

.skills-cards{
  display:flex;
  gap: 23px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.skills-text p {
  font-size: 16px;
  color: #6a6f73;
  line-height: 1.5;
}



.skills-card{
  min-width: 290px;
  height: 390px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  scroll-snap-align: start;
}


.skills-card-image{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.skills-card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.skills-card-body{
  width: 80%;
  position: absolute;
  bottom: 10%;
  left:7%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.skills-card-body h3{
  font-size: 17px;
  font-weight: 400;
}

.skills-learners{
  font-size: 12px;
  padding: 4px;
  color: #9b9ea1;
  border-radius: 3px;
  border: 1px solid #b2b5b8;
  display: inline-block;
}

.rightArrow-icon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 70px;
}


@media (max-width:768px) {
  .skills-section{
    grid-template-columns:1fr;
    gap: 3px;
  }

  
  .skills-text h2 {
    font-size: 24px;
  }

  .skills-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-x: visible;
  }

  .skills-card{
    min-width: unset;
    height:200px;
    background: red;
  }

  .skills-card-body {
    width: 70%;
    height: 45%;
    position: absolute;
    left: 10%;
    bottom: 5%;
  }

  .skills-card-image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  .skills-text h2{
    font-size: 24px;
  }

   .skills-cards::-webkit-scrollbar {
    display: none;
  }
  .skills-cards {
    scrollbar-width: none;
  }
}